.pokemon-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-form-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-form input {
    width: 25%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pokemon-form button {
    width: 8%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.error {
    background-color: red;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
}
